    
   
        <div class="box" *ngFor="let crib of cribs">
             <div class="box-col box-80">
                <h4>Job : {{ crib.title }}</h4>
                <br>
                <br>
                   <span class="function">Salary:  <i class="fa fa-inr"></i>{{crib.salary }}</span>
                   <br>
                        <p> Job Details: {{ crib.description }}</p>
             </div>
      
      <div class="box-col box-20 text-right">
        <a class="button" >Apply</a>
      </div>
      
    </div>